.gallery li {
    float:left;
    width: 200px;
    height: 250px;
    list-style: none;

    border: 2px solid rgb(124, 123, 123);
    border-radius: 10%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px;
    display:block;
}
body{
    background-color: rgb(235, 235, 235);
}
.gallery img{
    padding: 35px;
    display: block;
}
center{
    font-family: sans-serif;
}