ol{
    background-color: rgb(196, 85, 146);
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}
ol li{
    font-family: Arial, Helvetica, sans-serif;

    color:white;
    margin-top: 10px;
    margin-bottom: 25px;
}
/* div{
    background-color: rgb(211, 69, 128);
} */ 