body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
  }
  
  h3 {
    margin-top: 0px;
    padding-left: 0.1em;
    font-size: 1.5em;
    margin-bottom: 15px;
  
  }
  
  .passwordCharacters {
    margin-left: 2px; 
    margin-bottom: 0px; 
    margin-top: 0px; 
    font-size: 10px; 
    color: rgb(138, 138, 138);
  }
  
  .privat {
    padding: 15px;
  }
  
  .privat-form, .privat-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .privat-logo {
    padding-top: 10px;
    margin-top: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 0.2em;
  }
  
  form {
    width: 300px;
    font-size: 15px;
    padding: 1em;
    padding-bottom: 0px;
    border: 1px solid #a6a6a6;
    border-radius: 8px;
  }
  
  hr {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  input {
    border-radius: 4px;
    font: 1em;
    width: 295px;
    height: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.808);
    background-color: rgba(10, 46, 29, 0.041);
  
  }
  
  .small-text {
    padding-left: 5px;  
    font-size: 10px;
  }
  
  .terms {
    padding-left: 5px;
    font-size: 10px;
    margin-bottom: 20px;
  }
  
  
  input:focus {
    border-color: rgb(6, 56, 9)
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    width: auto;
  }
  
  input[id="submitBtn"] {
    background-color: rgb(92, 163, 83);
    border-color: rgb(47, 128, 9);
    border-radius: 50px;
    width: 295px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    box-shadow:rgb(207, 207, 207) 0px 1px;
  }
  
  input[id="submitBtn"]:hover {
    background-color: rgb(32, 158, 16);
  }
  
  label span {
    width: 200px;
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  a {
    color: #096e00;
    text-decoration: none;
  }
  
  a:hover {
    color :rgb(30, 203, 24);
  }
  
  img {
    width: 200px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
  
  }